@import 'colors.scss';

.page-loading{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}
.logo {
    background-image: url('../public/logo.png');
    height: 40px;
    margin: 16px 8px;
    background-size: contain;
    background-repeat: no-repeat;
}
#components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  #components-layout-demo-custom-trigger .trigger:hover {
    color: #FAFAFA;
  }
  
  #components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: $bg;
    margin: 16px;
  }
  
  .site-layout .site-layout-background {
    background: #FAFAFA;
  }