.pagebody{
    width: 100% !important;
}
.sidebar{
    height: 100vh;
    background: #363636;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2), 0px 3px 3px rgba(0, 0, 0, 0.12), 0px 3px 4px rgba(0, 0, 0, 0.14);
    transition: 1s all ease-in-out;
    width: 100%;
}
.sidebar-mobile{
    position: absolute;
    width: 80vw;
    max-width: 240px;
}
.content{
    margin: 32px !important;
}
.content-breadcrumbs{
    margin-bottom: 24px !important;
}